# =========================
# Python
# =========================

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# dbt
# =========================

target/
dbt_packages/
logs/
.partial_parse.msgpack


# =========================
# Terraform
# =========================

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log


# =========================
# Airflow
# =========================

airflow/logs/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Python tooling
# =========================

.pytest_cache/
.mypy_cache/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Local data
# =========================

data/
